{% extends "base.html" %}

{% block content %}
    
    <div class="container border rounded h-74 mb-2 p-4">
        <form method="post">
            {{ form.hidden_tag() }}

            <div class="alert alert-info text-center custom-alert" role="alert">
                📧 რეგისტრაციის დასრულების შემდეგ თქვენ მიიღებთ ვერიფიკაციის ბმულს მითითებულ ელ-ფოსტაზე!
            </div>

            <div class="row mb-3">
                <label for="{{ form.username.id }}" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
                <div class="col-sm-10">
                    {{ form.username(class="form-control", placeholder="შეიყვანეთ სახელი") }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="{{ form.email.id }}" class="col-sm-2 col-form-label">{{ form.email.label }}</label>
                <div class="col-sm-10">
                    {{ form.email(class="form-control", placeholder="შეიყვანეთ ელ-ფოსტა") }}
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="{{ form.password.id }}" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        {{ form.password(class="form-control", placeholder="შეიყვანეთ პაროლი", id="password") }}
                        <span class="input-group-text" onclick="togglePassword('password', 'togglePasswordIcon')">
                            <i id="togglePasswordIcon" class="fa fa-eye"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="{{ form.repeat_password.id }}" class="col-sm-2 col-form-label">{{ form.repeat_password.label }}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        {{ form.repeat_password(class="form-control", placeholder="გაიმეორეთ პაროლი", id="repeat_password") }}
                        <span class="input-group-text" onclick="togglePassword('repeat_password', 'toggleRepeatPasswordIcon')">
                            <i id="toggleRepeatPasswordIcon" class="fa fa-eye"></i>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="{{ form.birthday.id }}" class="col-sm-2 col-form-label">{{ form.birthday.label }}</label>
                <div class="col-sm-10">
                    {{ form.birthday(class="form-control") }}
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="{{ form.country.id }}" class="col-sm-2 col-form-label">{{ form.country.label }}</label>
                <div class="col-sm-10">
                    {{ form.country(class="form-select") }}
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="{{ form.gender.id }}" class="col-sm-2 col-form-label">{{ form.gender.label }}</label>
                <div class="col-sm-10">
                    {{ form.gender(class="form-check-inline") }}
                </div>
            </div>
            
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="agreeCheck">
                <label for="agreeCheck" class="form-check-label">
                    ვეთანხმები <a href="{{ url_for('privacy') }}">წესებსა და პირობებს</a>
                </label>
            </div>
            
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
            
        </form>
    </div>

    <style>
        .custom-alert {
            font-family: "BPG Classic Medium", sans-serif;
        }
        label, .btn, ::placeholder, .form-select, .form-control {
            font-family: "BPG Classic Medium", sans-serif;
            font-size: 18px;
        }
        .form-select, .form-control {
            font-weight: bold;
        }
    </style>

    <script>
        function togglePassword(fieldId, iconId) {
            var passwordField = document.getElementById(fieldId);
            var icon = document.getElementById(iconId);

            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>

    <!-- FontAwesome-ის ბიბლიოთეკის დამატება -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

{% endblock %}
